.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  width: 90%;
  margin: 1em;

}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* th.mat-header-cell, td.mat-header-cell {
  text-align: center;
} */

.btn {
  width: 90%;
}

.btn a {
  float: right;
}

.box {
  width: 100%;
  padding: 1em;
  justify-content: center;
  align-items: baseline;
  display: flex;
  flex-direction: column;
}
